:root {
  --primary-color: #42454b;
  --secondary-color: #fff;
  --section-color: #f5f5f5;
  --accent-color: #d2b5a8;
  --section-bg: #fdf1e7;
  --text-color: #000;
  --data-color: #646464;
  --font-main: "Rubik", sans-serif;
  --font-accent: "Manrope", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: var(--primary-color);
}

header {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px 50px;
}

.container {
  padding-left: 220px;
  padding-right: 220px;
}

.logo {
  width: 232px;
  height: 21px;
  margin-right: 42px;
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  gap: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-accent);
}
.menu-item {
  cursor: pointer;
}
.menu-item:hover,
:focus {
  color: var(--accent-color);
}
.btn {
  width: 200px;
  height: 30px;
  color: var(--secondary-color);
  background-color: #d2b5a8;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color);
}
#menu-icon {
  border-radius: 50%;
  padding: 10px 11px;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.btn-lang {
  border-radius: 50%;
  padding: 7px 6px;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.btn-lang:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.btn-lang:active {
  background-color: var(--primary-color);
}
.hero {
  height: 100%;
  width: 100%;
  padding-top: 119px;
  padding-bottom: 230px;
  background-image: url("../images/hero-2x_xl.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main {
  position: relative;
  left: -9px;
}
h1 {
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--secondary-color);
}
#link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.hero-link {
  color: var(--secondary-color);
  font-family: var(--font-accent);
  font-size: 12px;
  font-weight: 400;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  white-space: nowrap;
  letter-spacing: 0.5em;
  line-height: 12px;
}
.circle-container {
  width: auto;
  height: 200px;
  justify-content: end;
  align-items: center;
  position: relative;
  display: flex;
  padding-right: 120px;
}
.rotating-image {
  height: auto;
  position: absolute;
  animation: rotateAnimation 31s linear infinite reverse; /* Время, тип анимации и бесконечность с обратным вращением */
  top:50px
}

@keyframes rotateAnimation {
  to {
    transform: rotate(360deg);
  }
}
.title-container{
  margin-right: 80px;
}
.reasons{
  display: flex;
  margin-bottom: 231px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2,380px);
  grid-row-gap: 0; 
  justify-content: center;
  align-items: center;
}
.grid-item{
  width: 100%;
  height: 300px;
  padding-top: 10px;
}
.grid-item-text{
  border-right: 1px solid var(--accent-color); 
  border-bottom: 1px solid var(--accent-color); 
  font-family: var(--font-accent);
  font-weight: 400;
  line-height: 1.62;
  text-align: left;
  padding-bottom: 75px;
  padding-right: 119px;
}
.one{
  padding-bottom: 98px;
  border-bottom: 1px solid var(--accent-color);
  padding-left: 20px; 
  display: block;
}
.two{
  border-right: 1px solid var(--accent-color); 
  padding-top: 140px;
}
.three{
  padding-top: 140px;
  padding-left: 20px;
}
.item-number{
  color: var(--accent-color); 
  font-size: 120px;
  font-weight: 300;
  line-height: 1.2;
}
.item-text{
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}



.title-second {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
}

.slider-text {
  display: block;
  width: 280px;
}
.is-hidden {
  display: none;
}
